* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #614385, #516395);
  color: white;
  font-family: "Poppins", sans-serif;
}

.custom-form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.custom {
  padding: 0.5rem;
  border: none;
  background: white;
  font-size: 1.2rem;
}

form button {
  color: #198754;
  transition: all 0.3s ease
}

input:focus {
  outline:none
}

form button:hover {
  background: #198754;
  color: white;
}

/*CUSTOM SELECTOR */
select {
  border: 0;
  cursor: pointer;
  outline: 0;
  width: 11rem;
}

.filter-todo {
  padding: 0.7rem;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: .7rem;
  background: #516395;;
  cursor: pointer;
  pointer-events: none;
}
